{{- $id := .chezmoi.osRelease.id -}}
{{- $pm := index .package_managers $id -}}
{{- $pkgs := index .packages $id -}}
{{ if not $pm -}}
#!/bin/bash
echo "Unsupported distro '{{ $id }}' - add an entry to .chezmoidata/packages.yaml" >&2
exit 1
{{ else -}}
{{- $update := index $pm "update" -}}
{{- $install := index $pm "install" -}}
#!/bin/bash
# packages hash: {{ $pkgs | join " " | sha256sum }}
{{ if $update }}{{ $update }}
{{ end -}}
{{ $install }} {{ $pkgs | join " " }}
{{ end -}}
